.experience_list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-right: 25px;
  min-width: 200px;
}

.experience__list__items {
  border-left: 2px solid white;
  padding: 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.border__left {
  border-left: 3px solid red;
  transition: border-left 0.1s;
}

.experience__list__items:hover {
  cursor: pointer;
  background-color: rgb(255, 253, 253, 0.5);
  color: black;
}



